.venv
**/.venv
__pycache__/
*.pyc
.git/
node_modules/
dist/
**/.idea/
**/.pyc
**/.env/
**/venv/
**/models/
**/temp_data/
uv.lock
.python-version
tmp*
/static/
expedition_service.db
tests/
performance_tests/
